services:
    postgres:
        image: postgres:17
        container_name: siem_postgres
        environment:
            POSTGRES_USER: ${DBUser}
            POSTGRES_PASSWORD: ${DBPassword}
            POSTGRES_DB: ${DBName}
        volumes:
            - ./DBData:/var/lib/postgresql/data
        ports:
            - "5432:5432"
    etl:
        build: ./etl_pipeline
        container_name: python_etl
        depends_on:
            - postgres
        environment:
            DB_HOST: postgres
            DB_PORT: 5432
            DB_USER: ${DBUser}
            DB_PASSWORD: ${DBPassword}
            DB_NAME: ${DBName}
        volumes:
            - ./etl_pipeline/data:/app/data
        restart: 'no'